#agrupaciones div.input {
    padding: 0 !important;
}

#agrupaciones div.input input {
    width: 100% !important;
    border: solid 1px #999;
    border-radius: 0;
    border-width: 1px 0 1px 1px;
}
#agrupaciones .form-group div.input:last-child input {
    border-width: 1px;
}

.readonly {
    padding: 7.5px 5px;
    border: solid #999;
    border-width: 1px 0 1px 1px;
}