.page-header {
    margin: 10px 0 20px !important;
    padding-bottom: 9px !important;
}

.panel {
    box-shadow: none;
    border: 0;
}

.pie .highcharts-data-labels text {
    text-shadow: black 0px 0px 6px, black 0px 0px 3px !important;
}